<template>
    <div class="m-{{fileName}}">

    </div>
</template>

<script>
/**
 * {{fileName}}
 * description: {{description}}
 * anthor: {{author}}
 * createdAt: {{date}}
*/
export default {
    data() {
        return {

        }
    }
};
</script>

<style lang="scss" scoped>
.m-{{fileName}}{
    
}
</style>